/*
  Shuffle needs either relative or absolute positioning on the container
  It will set it for you, but it'll cause another style recalculation and layout.
  AKA worse performance - so just set it here
 */
.l-combinary__items {
  position: relative;
  overflow: hidden;
}

.my-sizer-element {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* Social Feed */
/* breaks Words when they are too long and would burst the layout. */
.combinary__search-options {
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  padding-top: 40px;
  padding-bottom: 10px;
}

.combinary__search-options label {
  position: absolute;
  text-indent: -9999px;
}

.combinary__search-options input {
  border: 1px transparent;
  font-size: 26px;
  text-align: center;
  color: #aaa;
}

.combinary__filter-options {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.combinary__filter-btn {
  text-transform: uppercase;
  border: 1px solid #ccc;
  color: #3d3d3b;
  padding: 2px 15px;
}

.combinary__filter-btn[data-group="twitter"].active {
  background-color: #26c4f1;
  border-color: #0eaad6;
}

.combinary__filter-btn[data-group="youtube"].active {
  background-color: #df1c31;
  border-color: #b21627;
}

.combinary__filter-btn[data-group="facebook"].active {
  background-color: #306199;
  border-color: #244872;
}

.combinary__filter-btn[data-group="rss"].active {
  background-color: #3f3f3f;
  border-color: #262626;
}

.combinary__filter-btn.active {
  color: #fff;
}

.combinary__item {
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 40px;
  float: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 600px) {
  .combinary__item {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .combinary__item {
    width: 33.33333%;
  }
}

@media only screen and (min-width: 1200px) {
  .combinary__item {
    width: 25%;
  }
}

.combinary__item-facebook .combinary__network {
  color: #306199;
}

.combinary__item-facebook .combinary__body {
  background-color: #306199;
}

.combinary__item-facebook[data-attachement=""] .combinary__text {
  background-color: #27507e;
}

.combinary__item-twitter .combinary__network {
  color: #26c4f1;
}

.combinary__item-twitter .combinary__body {
  background-color: #26c4f1;
}

.combinary__item-twitter[data-attachement=""] .combinary__text {
  background-color: #0fb5e5;
}

.combinary__item-youtube .combinary__network {
  color: #df1c31;
}

.combinary__item-youtube .combinary__body {
  background-color: #df1c31;
}

.combinary__item-wrapper {
  overflow: hidden;
}

.combinary__network {
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0 0 10px 0;
  flex-grow: 1;
  text-transform: uppercase;
  font-weight: bold;
  color: #3f3f3f;
  text-align: right;
}

.combinary__media {
  margin-top: -15px;
  margin-bottom: 15px;
}

.combinary__media img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.combinary__title {
  padding: 0 15px;
  margin: 0 0 15px 0;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 22px;
}

.combinary__text {
  clear: both;
  padding: 0 15px 15px 15px;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 18px;
}

.combinary__text a {
  color: #fff;
  font-weight: inherit;
  /* could be removed */
  text-decoration: underline;
}

.combinary__read-more {
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
}

.combinary__body {
  background: #3f3f3f;
  color: #fff;
  font-size: 20px;
  position: relative;
  padding-top: 15px;
}

.combinary__item-footer {
  margin: 0 15px;
  padding: 15px 0;
  border-top: 1px solid #fff;
  font-size: 16px;
  overflow: auto;
}

.combinary__author a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.combinary__author a:hover {
  text-decoration: underline;
}

.combinary__footer {
  text-align: center;
  padding-bottom: 30px;
}

.combinary__footer button {
  text-transform: uppercase;
  border: 1px solid #ccc;
  color: #3d3d3b;
  padding: 2px 15px;
}
