/*
  Shuffle needs either relative or absolute positioning on the container
  It will set it for you, but it'll cause another style recalculation and layout.
  AKA worse performance - so just set it here
 */
.l-combinary {
  &__items {
    position: relative;
    overflow: hidden;
  }
}

.my-sizer-element {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}


/* Social Feed */
$combinary-content-margin: 15px;
$combinary-color-primary: #3f3f3f;

// SM colors.
$color-facebook: #306199;
$color-twitter: #26c4f1;
$color-youtube: #df1c31;
$color-rss: #3f3f3f;

/* breaks Words when they are too long and would burst the layout. */
@mixin word-wrap() {
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-invisible() {
  text-indent: -9999em;
}

// Hide elements visually, but keep them available for screen-readers.
//
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// "!important" is used to prevent unintentional overrides.
@mixin element-invisible() {
  position: absolute !important;
  left: 0;
  top: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.combinary {

  &__search-options {
    text-align: center;
    border-bottom: 2px solid #e5e5e5;
    padding-top: 40px;
    padding-bottom: 10px;
    label {
      position: absolute;
      text-indent: -9999px;
    }
    input {
      border: 1px transparent;
      font-size: 26px;
      text-align: center;
      color: #aaa;
    }
  }
  &__filter-options {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  &__filter-btn {
    text-transform: uppercase;
    border: 1px solid #ccc;
    color: #3d3d3b;
    padding: 2px 15px;
    &[data-group="twitter"] {
      &.active {
        background-color: $color-twitter;
        border-color: darken($color-twitter, 10);
      }
    }
    &[data-group="youtube"] {
      &.active {
        background-color: $color-youtube;
        border-color: darken($color-youtube, 10);
      }
    }
    &[data-group="facebook"] {
      &.active {
        background-color: $color-facebook;
        border-color: darken($color-facebook, 10);
      }
    }
    &[data-group="rss"] {
      &.active {
        background-color: $color-rss;
        border-color: darken($color-rss, 10);
      }
    }
    &.active {
      color: #fff;
    }
  }
  &__item {
    //layout
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 40px;
    float: left;
    @media only screen and (min-width: 600px) {

      width: 50%;
    }
    @media only screen and (min-width: 1000px) {

      width: 33.33333%;
    }
    @media only screen and (min-width: 1200px) {

      width: 25%;
    }

    //styling
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // modifiers
    &-facebook {
      .combinary {
        &__network {
          color: $color-facebook;
        }
        &__body {
          background-color: $color-facebook;
        }
      }
      &[data-attachement=""] {
        .combinary__text {
          background-color: darken($color-facebook, 7);
        }
      }
    }
    &-twitter {
      .combinary {
        &__network {
          color: $color-twitter;
        }
        &__body {
          background-color: $color-twitter;
        }
      }
      &[data-attachement=""] {
        .combinary__text {
          background-color: darken($color-twitter, 7);
        }
      }
    }
    &-youtube {
      .combinary {
        &__network {
          color: $color-youtube;
        }
        &__body {
          background-color: $color-youtube;
        }
      }
    }
  }
  &__item-wrapper {
    overflow: hidden; // prevent overflowing if unexpected things happening
  }
  &__network {
    @include word-wrap();
    margin: 0 0 10px 0;
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: $combinary-color-primary;
    text-align: right;
  }
  &__media {
    margin-top: $combinary-content-margin *-1;
    margin-bottom: $combinary-content-margin;
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  &__title {
    padding: 0 $combinary-content-margin;
    margin: 0 0 $combinary-content-margin 0;
    @include word-wrap;
    font-size: 22px;
  }
  &__text {
    clear: both;
    padding: 0 $combinary-content-margin $combinary-content-margin $combinary-content-margin;
    @include word-wrap;
    font-size: 18px;
    a {
      color: #fff;
      font-weight: inherit; /* could be removed */
      text-decoration: underline;
    }
  }
  &__read-more {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
  }
  &__body {
    background: $combinary-color-primary;
    color: #fff;
    font-size: 20px;
    position: relative;
    padding-top: $combinary-content-margin;
  }
  &__item-footer {
    margin: 0 $combinary-content-margin;
    padding: $combinary-content-margin 0;
    border-top: 1px solid #fff;
    font-size: 16px;
    overflow: auto;
  }
  &__author {
    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__footer {
    text-align: center;
    padding-bottom: 30px;
    button {
      text-transform: uppercase;
      border: 1px solid #ccc;
      color: #3d3d3b;
      padding: 2px 15px;
    }
  }
}
