{% for data in entries %}

<article class="combinary__item combinary__item-{{ data.itemType }}" data-groups='["{{ data.itemType }}"]' data-filter="{{ data.itemType }}">
  <div class="combinary__item-wrapper">
    <header>
      <h3 class="combinary__network">{{ data.itemType }}</h3>
    </header>
    <div class="combinary__body">

      {% if data.thumbnailUrl is not empty %}
        <div class="combinary__media">
          {% if data.url is not empty %}
            <a href="{{ data.url }}" rel="nofollow" target="_blank">
          {% endif %}
          <img src="{{ data.thumbnailUrl }}" alt=" ">
          {% if data.url is not empty %}
            </a>
          {% endif %}
        </div>
      {% endif %}

      {% if data.body is not empty %}
        <div class="combinary__text">

          {% set bodycontent = data.body %}

          {% if settings.combinary_striptags %}
            {% set bodycontent = bodycontent|striptags %}
          {% endif %}

          {% if settings.combinary_limit_post_characters %}
            {% set bodycontent = bodycontent|length > settings.combinary_limit_post_characters ? bodycontent|slice(0, settings.combinary_limit_post_characters) ~ '...' : bodycontent %}
          {% endif %}

          {{ bodycontent }}

          {% if data.url is not empty %}
            <a class="combinary__read-more" href="{{ data.url }}" rel="nofollow" target="_blank">read more</a>
          {% endif %}
        </div>
      {% endif %}

      <footer class="combinary__item-footer">
          <span class="combinary__author">
              <a href="{{ data.authorUrl }}" rel="nofollow" target="_blank">{{ data.authorName }}</a>
            </span>
        <span>on {{ data.publishedAt|date("d.m.Y") }}</span>
      </footer>
    </div>
  </div>
</article>

{% endfor %}
