<section class="combinary">

{% if entries is not empty %}

  {% if settings.combinary_show_search %}
<div class="combinary__search-options">
  <label for="combinary-filters-search-input" class="combinary__filter-label">{{ 'Search'|t }}</label>
  <input class="js-combinary-shuffle-search" type="search" placeholder="{{ 'Type text here to search'|t }}" id="combinary-filters-search-input" />
</div>
  {% endif %}

{% if settings.combinary_show_filter and snetworks is not empty %}
<div class="combinary__filter-options">
  {% for network in snetworks %}
    {% if network is not empty %}
      <button class="combinary__filter-btn" data-group="{{ network }}">{{ network }}</button>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

<div class="l-combinary__items js-combinary-items">

    {% include '@combinary/includes/post.html.twig' %}

</div>

  {% if settings.combinary_load_more %}
<footer class="combinary__footer">
  <button class="combinary-load-more-button">{{ 'Load more'|t }}</button>
</footer>
  {% endif %}

{% else %}
  <p>{{ 'We have a problem with Combinary feed. Please try again later.'|t }}</p>
{% endif %}

</section>
